In [1]:
# Session 2

# Variables and Data Types

# Variable : Placeholder/ Temporary memory pointing entity

# In Python we do not require explicit data type declaration

initial_value_of_parameter = 0.2



port_no_for_db_azure = 8080
port_no_for_smtp_server = 25

# Advice : choose variable name which reflect their purpose or definition

In [2]:
# Snake case
initial_value = 10

# Camel case
initialValue = 10

# Pascal case
InitialValue = 10

In [3]:
var_01 = var_02 = 10  # right to left

In [5]:
a, b, c = 10, 17, "hii"

print(a,b,c)

sum = a+b
print(sum)

10 17 hii
27

In [6]:
my_real_name = "John"

In [7]:
my_real_name

'John'

In [8]:
print(my_real_name)

John

In [ ]:
# Data Types of Python
1. Numeric 
    a. integers
    b. floating points
    c. complex numbers
2. String
3. Boolean
4. List
5. Dictionary
6. Tuple
7. Set
8. Bits

In [9]:
# Integers - Z 

# Since python 3 integer can be as big till memory permits

height = 7
width = 12

print (width + height)

19

In [10]:
print(type(height))

<class 'int'>

In [11]:
print(0x1FFF)

8191

In [12]:
print(0b101010) # prints decimal equivalent to the binary

42

In [13]:
# Floating Point - Fractions

radius = 7.5
print(type(radius))

<class 'float'>

In [14]:
sum = height + radius
print(sum)
print(type(sum))

14.5
<class 'float'>

In [15]:
.2

0.2

In [16]:
diagonal = 4.
print(type(diagonal))

<class 'float'>

In [17]:
.4e5

40000.0

In [18]:
4.234e-3

0.004234

In [19]:
# complex numbers

my_var = 2+6j

print(type(my_var))

<class 'complex'>

In [20]:
print(my_var + 20)

(22+6j)

In [21]:
print(my_var * 2)

(4+12j)

In [22]:
# String - String is a sequence of characters
# String literals are delimited using either single or double quotes.

my_new_book = "Ikigai"

type(my_new_book)

str

In [23]:
# String is not compatible with numerical type

print(my_new_book + my_var)

TypeError: can only concatenate str (not "complex") to str

In [24]:
my_old_book = "Lifespan"
print (my_new_book + my_old_book)

IkigaiLifespan

In [25]:
print (my_new_book + " " + my_old_book)

Ikigai Lifespan

In [26]:
print (my_new_book * 6)

IkigaiIkigaiIkigaiIkigaiIkigaiIkigai

In [28]:
print ("*_" * 6)

*_*_*_*_*_*_

In [29]:
print ("*\t#" * 6)

*	#*	#*	#*	#*	#*	#

In [30]:
print ("*\n#" * 6)

*
#*
#*
#*
#*
#*
#

In [40]:
a = "This is String A"
b = "This is String B"

print(a == b)

False

In [41]:
print ( a is b)

False

In [43]:
myChar = "Holiday"
myNum = 4.2

print(myChar + str(myNum))

Holiday4.2

In [44]:
myNum = 5.4
myNum = str(myNum)
print(type(myNum))

<class 'str'>

In [45]:
myNum

'5.4'

In [46]:
myString = "AbcGGhefhut"

print(myString.upper()) # convert every string to Upper case

ABCGGHEFHUT

In [47]:
print(myString.lower())

abcgghefhut

In [49]:
import string

In [50]:
string.digits

'0123456789'

In [51]:
string.hexdigits

'0123456789abcdefABCDEF'

In [52]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [63]:
myString = "2%2"

myString.isdigit() # isdigit() return True if all the characters are digits else it returns False

False

In [64]:
myString = "2%2"

myString.isnumeric() # isnumeric() checks whether all the characters are numeric

False

In [65]:
myString = "2%2"

myString.isdecimal()

False

In [67]:
myString = "23fg"

myString.isalnum()

True

In [68]:
temp_var = "get_going"
print(temp_var[0])

g

In [69]:
print(temp_var[25])

IndexError: string index out of range

In [70]:
print(temp_var[-1])

g

In [71]:
print(temp_var[-3])

i

In [72]:
print(temp_var[0:5])

get_g

In [73]:
print(temp_var[:])

get_going

In [74]:
print(temp_var[2:8])

t_goin

In [75]:
print(temp_var[1:9:1])

et_going

In [76]:
print(temp_var[1:9:2])

e_on

In [77]:
print(temp_var[-1:-8:-1])

gniog_t

In [78]:
print(temp_var[-1:-5:-2])

gi

In [83]:
print(temp_var[-2:25:2])

n

In [81]:
print(temp_var[3:25:4])

_n

In [84]:
temp_var[::-1]

'gniog_teg'

In [86]:
palindrome_str = "abiba"

In [87]:
print(palindrome_str == palindrome_str[::-1])

True

In [31]:
# Boolean

myVar = True
print(type(myVar))

<class 'bool'>

In [32]:
# List . This is the basic data structure utilized in python. It is of sequence type

# List is declared by []

subject_list = ["Physics", "Maths", "History", "Computers"]

my_list = [3,8,9.8, "Hello", 6+8j, True]

In [33]:
print(type(my_list))

<class 'list'>

In [34]:
print(my_list)

[3, 8, 9.8, 'Hello', (6+8j), True]

In [35]:
my_list[2]

9.8

In [36]:
my_list[-1]

True

In [37]:
my_list[-3]

'Hello'

In [38]:
personal_info_list = [["Amrit", "amrit@xyz.com"], ["Harman","harman@xyz.com"]]

print(personal_info_list)

[['Amrit', 'amrit@xyz.com'], ['Harman', 'harman@xyz.com']]

In [39]:
personal_info_list[0][1]

'amrit@xyz.com'

In [88]:
combined_list = [["Abc", 23], [3,5,6], ["Amrit", "Harman"]]

In [89]:
print(combined_list[::-1])

[['Amrit', 'Harman'], [3, 5, 6], ['Abc', 23]]

In [92]:
print(combined_list[:])

[['Abc', 23], [3, 5, 6], ['Amrit', 'Harman']]

In [94]:
print(combined_list[::])

[['Abc', 23], [3, 5, 6], ['Amrit', 'Harman']]

In [97]:
print(combined_list[1][2])

6

In [98]:
# lists are mutable but string is not mutable

combined_list[1][2] = 10
print(combined_list)

[['Abc', 23], [3, 5, 10], ['Amrit', 'Harman']]

In [100]:
test_str = "Amrit"
test_str[0]= 'Z'
print(test_str) # Thus String is immutable

TypeError: 'str' object does not support item assignment

In [101]:
# we can delete objects of the list

del combined_list[0:1]
print(combined_list)

[[3, 5, 10], ['Amrit', 'Harman']]

In [102]:
len (combined_list) # provides the length of the list

2

In [103]:
list_01 = [1,4,7,9]
list_02 = ["hello", "bye", "go back"]
print (list_01 + list_02)

[1, 4, 7, 9, 'hello', 'bye', 'go back']

In [104]:
print(list_01 * 5)

[1, 4, 7, 9, 1, 4, 7, 9, 1, 4, 7, 9, 1, 4, 7, 9, 1, 4, 7, 9]

In [105]:
test_data = 5

print (test_data in list_01)

False

In [108]:
# append ()
list_01 = [1,4,7,9]
list_01.append(list_02)
print (list_01)

[1, 4, 7, 9, ['hello', 'bye', 'go back']]

In [109]:
list_01 = [1,4,7,9]
list_01.extend(list_02)
print (list_01)

[1, 4, 7, 9, 'hello', 'bye', 'go back']

In [111]:
# range()

seq_data = list(range(1,100,2))
print(seq_data)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [112]:
seq_data = list(range(-20,1,3))
print(seq_data)

[-20, -17, -14, -11, -8, -5, -2]

In [119]:
# calulate all the prime number between 1 to 100
num = 87
if num > 1:
    for i in range(2,num):
        if (num%i )==0:
            print (num, "is not a prime number")
            print (i , "times", num//i, "is", num)
            break
    else:
        print (num,"is prime number")
else:
    print(num,"is not a legal number")

87 is not a prime number
3 times 29 is 87

In [ ]:
prime_num_list =[]

for num in range (2,101):
    for i in range(2,num):

In [ ]:
# calulate fibonacchi numbers between 1 to 100

In [120]:
# Tuples
# Is a sequence type immutable python object. Tuple are sequences same as list

my_data_tuple = (1,2,4,5,6)
print (type(my_data_tuple))

<class 'tuple'>

In [121]:
complex_tuple = (1, 4, 6, 9, [5,6,7], "Hii", False)
print(complex_tuple)

(1, 4, 6, 9, [5, 6, 7], 'Hii', False)

In [122]:
complex_tuple[4]

[5, 6, 7]

In [123]:
complex_tuple[5] = "Going"

TypeError: 'tuple' object does not support item assignment

In [124]:
complex_tuple[4][1] = 100
print(complex_tuple)

(1, 4, 6, 9, [5, 100, 7], 'Hii', False)

In [ ]:
# Tuple vs List

# Tuple are fixed size in nature whereas lists are dynamic
# Tuple are faster to implement. Plus they can safeguard data as they are write-protect

'''
1. You cann't add new elements in Tuple
2. You cann't remove elements from the tuple
'''

In [125]:
# Dictionary 

# Dictionary in Python is an unordered collection of data. 

IPL_team_map = {"CSK":"Ravindra Jadeja", "MI":"Rohit Sharma", "DC":"Rishabh Pant", "RCB":"Faf Du Plessis"}

# {key:value}

In [126]:
print(type(IPL_team_map))

<class 'dict'>

In [127]:
print(IPL_team_map)

{'CSK': 'Ravindra Jadeja', 'MI': 'Rohit Sharma', 'DC': 'Rishabh Pant', 'RCB': 'Faf Du Plessis'}

In [128]:
print(IPL_team_map[1])

KeyError: 1

In [129]:
print(IPL_team_map["CSK"]) # the element access is through keys. Keys have to be unique

Ravindra Jadeja

In [130]:
print(IPL_team_map["KKR"])

KeyError: 'KKR'

In [131]:
complex_dict = {"Name":{1:'Amrit', 2:"Harman"}, "Age":{1:'23', 2:"36"} }

In [132]:
complex_dict["Name"][2]

'Harman'

In [133]:
complex_dict["Age"][1]

'23'

In [134]:
dict_start = {}
dict_start[0]="Chrome"
dict_start[2]= "Firefox"
dict_start[5]= "Brave"
dict_start[6]= "Edge"

print(dict_start)

{0: 'Chrome', 2: 'Firefox', 5: 'Brave', 6: 'Edge'}

In [135]:
dict_start["value_list"]=[3,5,6,7]

print(dict_start)

{0: 'Chrome', 2: 'Firefox', 5: 'Brave', 6: 'Edge', 'value_list': [3, 5, 6, 7]}

In [136]:
dict_start[0]= "Safari"
print(dict_start)

{0: 'Safari', 2: 'Firefox', 5: 'Brave', 6: 'Edge', 'value_list': [3, 5, 6, 7]}

In [137]:
# access elements using get()

dict_start.get(6)

'Edge'

In [139]:
keys = list(dict_start.keys())
print(type(keys))
print(keys)

<class 'list'>
[0, 2, 5, 6, 'value_list']

In [140]:
values = list(dict_start.values())
print(type(values))
print(values)

<class 'list'>
['Safari', 'Firefox', 'Brave', 'Edge', [3, 5, 6, 7]]

In [141]:
for element in list(dict_start.values()):
    print(element)

Safari
Firefox
Brave
Edge
[3, 5, 6, 7]

In [143]:
dict_start['value_list'][2]

6

In [144]:
# deleting a key

del dict_start['value_list']
print (dict_start)

{0: 'Safari', 2: 'Firefox', 5: 'Brave', 6: 'Edge'}

In [145]:
# clearing out the whole dictionary

dict_start.clear()

print (dict_start)

{}

In [ ]:
# username and password 
# Unstructured data could be stored in form of dictionary

In [146]:
# Set

# A set is a unordered, unindexed, unchangeable collection of objects

# set doesn't allow duplication of objects

this_set = {"hi", "bye", "gone"}

print(this_set)

{'gone', 'hi', 'bye'}

In [147]:
len (this_set)

3

In [148]:
new_set = {4,6,2,9, 6,8,2}
print(new_set)

{2, 4, 6, 8, 9}