# HR Dataset

In [1]:
import pandas as pd

In [2]:
hr_data = pd.read_csv('F:/iPRIMED/Python/HR_comma_sep.csv.txt')
hr_data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [3]:
'''
Pre process the data
Run classification models 
Try to get best results with hyperparameter tuning. But Don't Overfit the model on Data
'''

"\nPre process the data\nRun classification models \nTry to get best results with hyperparameter tuning. But Don't Overfit the model on Data\n"

In [4]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [5]:
hr_data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [6]:
hr_data.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [7]:
categorical_features = [x for x in hr_data.columns if hr_data[x].dtype == 'O']  
print("The categorical feautures are: ", categorical_features)

The categorical feautures are:  ['sales', 'salary']

In [8]:
for x in categorical_features:
    print(hr_data[x].value_counts())

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: sales, dtype: int64
low       7316
medium    6446
high      1237
Name: salary, dtype: int64

In [9]:
numerical_features = [x for x in hr_data.columns if hr_data[x].dtype != 'O']
numerical_features

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'time_spend_company',
 'Work_accident',
 'left',
 'promotion_last_5years']

In [10]:
hr_data = pd.concat([hr_data,pd.get_dummies(hr_data.sales)],axis=1)
hr_data.drop(['sales'], axis = 1, inplace = True)

In [11]:
df = pd.DataFrame(hr_data.salary)
hr_data.drop(['salary'], axis = 1, inplace = True)
hr_data = pd.concat([hr_data, df],axis=1)
hr_data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,IT,RandD,accounting,hr,management,marketing,product_mng,support,technical,salary
0,0.38,0.53,2,157,3,0,1,0,0,0,0,0,0,0,0,0,0,low
1,0.80,0.86,5,262,6,0,1,0,0,0,0,0,0,0,0,0,0,medium
2,0.11,0.88,7,272,4,0,1,0,0,0,0,0,0,0,0,0,0,medium
3,0.72,0.87,5,223,5,0,1,0,0,0,0,0,0,0,0,0,0,low
4,0.37,0.52,2,159,3,0,1,0,0,0,0,0,0,0,0,0,0,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,0,0,0,0,0,1,0,low
14995,0.37,0.48,2,160,3,0,1,0,0,0,0,0,0,0,0,1,0,low
14996,0.37,0.53,2,143,3,0,1,0,0,0,0,0,0,0,0,1,0,low
14997,0.11,0.96,6,280,4,0,1,0,0,0,0,0,0,0,0,1,0,low
14998,0.37,0.52,2,158,3,0,1,0,0,0,0,0,0,0,0,1,0,low

In [12]:
hr_data_num = hr_data

In [13]:
hr_data_num['salary'] = hr_data_num['salary'].map({'low':0 ,'medium':1, 'high':2})

In [14]:
hr_data_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   IT                     14999 non-null  uint8
 9   RandD                  14999 non-null  uint8
 10  accounting             14999 non-null  uint8
 11  hr                     14999 non-null  uint8
 12  management             14999 non-null  uint8
 13  marketing              14999 non-null  uint8
 14  product_mng            14999 non-null  uint8
 15  support                14999 non-null  uint8
 16  technical              14999 non-null  uint8
 17  salary                 14999 non-null  int64
dtypes: float64(2), int64(7), uint8(9)
memory usage: 1.2 MB

# Train Test Split data

In [15]:
X_num = hr_data_num.iloc[:,:-1]
Y_num = hr_data_num.iloc[:, -1]
X_num

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,IT,RandD,accounting,hr,management,marketing,product_mng,support,technical
0,0.38,0.53,2,157,3,0,1,0,0,0,0,0,0,0,0,0,0
1,0.80,0.86,5,262,6,0,1,0,0,0,0,0,0,0,0,0,0
2,0.11,0.88,7,272,4,0,1,0,0,0,0,0,0,0,0,0,0
3,0.72,0.87,5,223,5,0,1,0,0,0,0,0,0,0,0,0,0
4,0.37,0.52,2,159,3,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,0,0,0,0,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,0,0,0,0,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,0,0,0,0,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,0,0,0,0,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,0,0,0,0,0,1,0

In [16]:
Y_num.unique()

array([0, 1, 2], dtype=int64)

In [17]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X_num, Y_num, test_size =0.2)
x_train.shape

(11999, 17)

# Logistic Regression

In [18]:
from sklearn.linear_model import LogisticRegression

log_clf = LogisticRegression(solver = 'newton-cg', max_iter = 5000, C = 1.0)
log_clf.fit(x_train, y_train)

LogisticRegression(max_iter=5000, solver='newton-cg')

In [19]:
y_pred_logf = log_clf.predict(x_test)
y_pred_logf

array([0, 1, 0, ..., 1, 0, 0], dtype=int64)

In [20]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print("Accuracy:",accuracy_score(y_test, y_pred_logf))
print("Precision Score:",precision_score(y_test, y_pred_logf, average = 'macro'))
print("Recall Score:",recall_score(y_test, y_pred_logf, average = 'macro'))
print("f1 Score:",f1_score(y_test, y_pred_logf, average = 'macro'))

Accuracy: 0.5143333333333333
Precision Score: 0.4550541003361348
Recall Score: 0.4048982234519976
f1 Score: 0.4019229526642367

In [21]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(y_test, y_pred_logf))

              precision    recall  f1-score   support

           0       0.53      0.78      0.63      1497
           1       0.48      0.27      0.34      1287
           2       0.35      0.17      0.23       216

    accuracy                           0.51      3000
   macro avg       0.46      0.40      0.40      3000
weighted avg       0.50      0.51      0.48      3000

In [22]:
print(confusion_matrix(y_test, y_pred_logf))

[[1163  312   22]
 [ 898  343   46]
 [ 118   61   37]]

# SVM

In [ ]:
from sklearn.svm import SVC

In [127]:
svc = SVC(kernel='rbf',gamma=10, C=100)

svc.fit(x_train, y_train)

SVC(C=100, gamma=10)

In [128]:
y_pred_svc = svc.predict(x_test)
y_pred_svc

array([1, 1, 0, ..., 0, 0, 0], dtype=int64)

In [130]:
svc.score(x_test, y_test)

0.6336666666666667

In [129]:
svc.score(x_train, y_train)

0.9894157846487207

In [131]:
print("Accuracy:",accuracy_score(y_test, y_pred_svc))
print("Precision Score:",precision_score(y_test, y_pred_svc, average = 'macro'))
print("Recall Score:",recall_score(y_test, y_pred_svc, average = 'macro'))
print("f1 Score:",f1_score(y_test, y_pred_svc, average = 'macro'))

Accuracy: 0.6336666666666667
Precision Score: 0.678156847077954
Recall Score: 0.5341133358835429
f1 Score: 0.5566404446704504

In [133]:
print(classification_report(y_test, y_pred_svc))

              precision    recall  f1-score   support

           0       0.60      0.89      0.71      1497
           1       0.74      0.39      0.51      1287
           2       0.70      0.32      0.44       216

    accuracy                           0.63      3000
   macro avg       0.68      0.53      0.56      3000
weighted avg       0.66      0.63      0.61      3000

In [132]:
print(confusion_matrix(y_test, y_pred_svc))

[[1325  157   15]
 [ 766  506   15]
 [ 121   25   70]]

# Decision Tree

In [28]:
X = hr_data.iloc[:,:-1]
Y = hr_data.iloc[:, -1]
X

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,IT,RandD,accounting,hr,management,marketing,product_mng,support,technical
0,0.38,0.53,2,157,3,0,1,0,0,0,0,0,0,0,0,0,0
1,0.80,0.86,5,262,6,0,1,0,0,0,0,0,0,0,0,0,0
2,0.11,0.88,7,272,4,0,1,0,0,0,0,0,0,0,0,0,0
3,0.72,0.87,5,223,5,0,1,0,0,0,0,0,0,0,0,0,0
4,0.37,0.52,2,159,3,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,0,0,0,0,0,0,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,0,0,0,0,0,0,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,0,0,0,0,0,0,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,0,0,0,0,0,0,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,0,0,0,0,0,0,0,1,0

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size =0.2)
X_train.shape

(11999, 17)

In [30]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(criterion='entropy', max_depth= 3)

In [31]:
dt.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [32]:
dt.score(X_train, Y_train)

0.5052087673972832

In [33]:
dt.score(X_test, Y_test)

0.502

In [34]:
Y_pred_dt = dt.predict(X_test)

In [35]:
print("Accuracy:",accuracy_score(Y_test, Y_pred_dt))
print("Precision Score:",precision_score(Y_test, Y_pred_dt, average = 'macro'))
print("Recall Score:",recall_score(Y_test, Y_pred_dt, average = 'macro'))
print("f1 Score:",f1_score(Y_test, Y_pred_dt, average = 'macro'))

Accuracy: 0.502
Precision Score: 0.6282792219260563
Recall Score: 0.36315705775279133
f1 Score: 0.28978769622497863

In [36]:
print(classification_report(Y_test, Y_pred_dt))

              precision    recall  f1-score   support

           0       0.50      0.98      0.66      1460
           1       0.50      0.05      0.09      1286
           2       0.89      0.06      0.12       254

    accuracy                           0.50      3000
   macro avg       0.63      0.36      0.29      3000
weighted avg       0.53      0.50      0.37      3000

In [37]:
print(confusion_matrix(Y_test, Y_pred_dt))

[[1426   34    0]
 [1220   64    2]
 [ 207   31   16]]

# Random Forest

In [38]:
from sklearn.ensemble import RandomForestClassifier

In [105]:
rf = RandomForestClassifier(n_estimators=250, max_features=0.7, bootstrap=True, max_samples=0.6, max_depth=7, n_jobs = -1)

In [106]:
rf.fit(X_train, Y_train)

RandomForestClassifier(max_depth=7, max_features=0.7, max_samples=0.6,
                       n_estimators=250, n_jobs=-1)

In [107]:
rf.score(X_test, Y_test)

0.5203333333333333

In [108]:
rf.score(X_train, Y_train)

0.5662138511542628

In [109]:
Y_pred_rf = rf.predict(X_test)
Y_pred_rf

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [110]:
print("Accuracy:",accuracy_score(Y_test, Y_pred_rf))
print("Precision Score:",precision_score(Y_test, Y_pred_rf, average = 'macro'))
print("Recall Score:",recall_score(Y_test, Y_pred_rf, average = 'macro'))
print("f1 Score:",f1_score(Y_test, Y_pred_rf, average = 'macro'))

Accuracy: 0.5203333333333333
Precision Score: 0.5822266014298165
Recall Score: 0.3924854920042258
f1 Score: 0.3724548896691559

In [111]:
print(classification_report(Y_test, Y_pred_rf))

              precision    recall  f1-score   support

           0       0.52      0.88      0.65      1460
           1       0.53      0.20      0.29      1286
           2       0.70      0.10      0.18       254

    accuracy                           0.52      3000
   macro avg       0.58      0.39      0.37      3000
weighted avg       0.54      0.52      0.46      3000

In [112]:
print(confusion_matrix(Y_test, Y_pred_rf))

[[1279  175    6]
 [1025  256    5]
 [ 174   54   26]]